html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url(piotr-chrobot-6oUsyeYXgTg-unsplash.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: 150px;
}

.space{
  height: 20px;
  background-color: white;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}

.body{
	font-family: 'Gothic A1', sans-serif;
	font-size:16px;
	}
	p{
	color:#6c6c6f;
	font-size:1em;
	}
	h6{color:#323233;text-transform:uppercase;}
.navbar-brand  span{
	color: #fed136;
	font-size:25px;font-weight:700;letter-spacing:0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.navbar-brand {
	color: #fff;
	font-size:25px;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	font-weight:700;
	letter-spacing:0.1em;
}

#sum_box h4 {
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  height: 300px;
  font-family: 'Courier New', Courier, monospace;
}


#sum_box .db:hover {
  background: #40516f;
  color: #fff;

}




#sum_box .db:hover .icon {
  opacity: 1;
  color: white;
}

#sum_box .icon {
  color: #fff;
  font-size: 55px;
  margin-top: 7px;
  margin-bottom: 0px;
  float: right;
}


.panel.income.db.mbm{
      background-color: #ff7518;
}

.panel.profit.db.mbm{
      background-color: #ff7518;
}


.panel.task.db.mbm{
      background-color: #ff7518;
}

.content{
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.imageMod{
    width: 100%;
    height: 65vh;
    background: url(tokyo.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-top: -250px;
    border-radius: 2em;
    margin-bottom: 20px;
}

.head-text-mod{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.imageMod2{
    width: 100%;
    height: 65vh;
    background: url(madrid.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-top: -250px;
    border-radius: 2em;
    margin-bottom: 20px;
}

.description{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.15em;
}

.imageMod3{
    width: 100%;
    height: 65vh;
    background: url(bangkok.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-top: -250px;
    border-radius: 2em;
    margin-bottom: 20px;
}

body{ color: #ccc }
.footer-widget p {
    margin-bottom: 27px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  color:white;
    line-height: 28px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }




.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
  
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: #202020;
  padding: 40px;
  z-index: 2; }
  
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
  
.img{
  height: 300px;
  width: 300px;
  border-radius: 1.2em;
  opacity: 0.8;
}

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  transition: all 0.3s; }


.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
 


.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020;
  color: grey;

}
  
/* home  responsive design*/
      @media only screen and (max-width: 600px) {
       
            .content{
                margin-left: 0px;
                margin-top: 0px; 
            
        }
        .footer{
          margin-left: 0px;
                margin-top: 0px;
        }
      }
      body{
          background-color: black;
      }

      


      .boom{
        background-image: url('bigcity.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
        text-align: center;
        margin-top: 300px;
        color: black;
        font-size: 1.2em;
        
        }
        
        .login-container{
          margin-top: 20px;

        }

        .register-button{
          color: white;
          position: relative;
          top: 0;
          transition: top ease 0.5s;
        }

        .register-button:hover {
          top: -10px;
          color: white;
        }

        .login-button{
          color: black;
          position: relative;
          top: 7px;
          transition: top ease 0.5s;

        }
        .login-button:hover {
          top: -3px;
          color: black;
        }

        .login-text{
          font-size: 1.1em;
        }

        #email{
          border-radius: 1.3em;
        }

        #password{
          border-radius: 1.3em;
        }

        #name{
          border-radius: 1.3em;
        }

        .register{
          background-image: url('dark-city.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          height: 100%;
          font-family: 'Numans', sans-serif;
          text-align: center;
          margin-top: 300px;
          color: black;
          font-size: 1.2em;

        }

        .logging-in{
          color: black;
          position: relative;
          transition: top ease 0.5s;
          background-color: 0;
          border-radius: 0.4em;
        }

        .login-register{
          color: white;
          top: 10px;
        }

        .back-to-home{
          color: white;
        }

        .back-to-home:hover {
          color: white;
        }

        .login-register:hover {
          color: white;
        }

        .color-register{
          color: white;
        }

        .white{
          color: white;
        }

        /* CITY REVIEWS*/

        .header2 {
          width: 100%;
          height: 100vh;
          background: url(los-santos.jpg) no-repeat 50% 50%;
          background-size: cover;
          margin-bottom: 150px;
          opacity: 0.75;
      }

      .content1{
        margin: auto;
        width: 60%;
        height: 260vh;
        background-color: #1f3b4d;
        border-radius: 0.4em;
      }

      .header-content1{
        text-align: center;
        padding-top: 50px;
        color: #ff7518;;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3.5em;
        
      }

      .content1-image{
        margin-top: 50px;
        margin-left: 120px;
        border-radius: 0.2em;
   
      }

      .content2-image{
        margin-top: 50px;
        margin-left: 120px;
        border-radius: 0.5em;
   
      }

      .header-content2{
        text-align: center;
        padding-top: 50px;
        color: #ff7518;;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3.5em;
        
      }

      .content2{
        margin: auto;
        width: 60%;
        height: 260vh;
        background-color: #1f3b4d;
        border-radius: 0.4em;
      }


      .review_button{
        color: black;
        position: relative;
      }

      .input-form{
       color: black;
       padding: 0;
       height: 100px;
       width: 300px;
       margin-left: 50px;
      }

      .media border p-3{
        margin: 0;
        padding: 0;
        font-size: 2em;
      }

      .blank{
        background-color: black;
        height: 20vh;
      }